.project {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);

    .project-details {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            bottom: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0.5;
            
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            top: -5px;
            width: 30px;
            height: 10px;
            background: #f00;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0.5;
            
        }


        .container {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding: 10px;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            color: #fff;
            font-weight: 400px;
            z-index: 1;
            transition: 0.5s;
            backdrop-filter: blur(15px);

            &:hover {

                &::before {
                    transform: skewX(45deg) translate(200px);
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
                transform: skewX(45deg) translate(0);
                transition: 0.5s;
                filter: blur(0px);
            }

            .project-name {
                font-size: 20px;
                color: #181818;

                @media (max-width: 600px) {
                    font-size: 8px;
                }

                
            }
    
            .project-desc {
                font-size: 12px;
                color: white;

                @media (max-width: 600px) {
                    font-size: 5px;
                }
            }
    
            .see-more {
                position: relative;
                top: 0;
                left: 0;
                width: 250px;
                height: 50px;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 600px) {
                    font-size: 9px;
                }

                @media (min-width: 650px) {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translatex(-50%);
                        bottom: -5px;
                        width: 30px;
                        height: 10px;
                        background: #ff5252;
                        border-radius: 10px;
                        transition: 0.5s;
                        transition-delay: 0.5;
                    }
    
                    &:hover {
                        &::before {
                            bottom: 0;
                            height: 85%;
                            width: 90%;
                            border-radius: 30px;
                        }
    
                        &::after {
                            top: 0;
                            height: 85%;
                            width: 90%;
                            border-radius: 30px;
                        }
                        
                    }
    
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translatex(-50%);
                        top: -5px;
                        width: 30px;
                        height: 10px;
                        background: #ff5252;
                        border-radius: 10px;
                        transition: 0.5s;
                        transition-delay: 0.5;
                        box-shadow: 0 0 5px #ff5252, 0 0 15px #ff5252, 0 0 30px #ff5252,
                            0 0 60px #ff5252;
                    }
                }

            
                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(255, 255, 255, 0.05);
                    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    border-radius: 30px;
                    padding: 10px;
                    letter-spacing: 1px;
                    text-decoration: none;
                    overflow: hidden;
                    color: #fff;
                    font-weight: 400px;
                    z-index: 1;
                    transition: 0.5s;
                    backdrop-filter: blur(15px);

                    @media (min-width: 650px) {
                        &:hover {
                            letter-spacing: 3px;
    
                            &::before {
                                transform: skewX(45deg) translate(200px);
                            }
                        }
    
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 50%;
                            height: 100%;
                            background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
                            transform: skewX(45deg) translate(0);
                            transition: 0.5s;
                            filter: blur(0px);
                        }
                    }

                    
                }
            }
        }
        

       
    }

    .project-image {
        display: flex;
        background-color: #464646;
        cursor: pointer;
        overflow: hidden;
        border-radius: 30px;
        justify-content: center;

        img {
            height: 70%;
            width: 100%;
            object-fit: contain;
            transition: 0.5s;
            transition-delay: 0.5;

            &:hover {   
                height: 100%;
            }
        }
    }
}